.progress-bar-outside {
    height: 1vmin;
    background-color: #424549;
    margin: 10px;
    box-sizing: border-box;
}

.progress-bar-inside {
    background-color: gray;
    /* position: absolute; */
    height: 5px;

    box-sizing: border-box;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left, .right {
    flex: 0 0 auto;
}

.progress-bar-outside, .progress-bar-inside {
    flex: 1;
}
