html { background-color: #36393e; }

.app {
  text-align: center;
  min-width: 100%;
  max-height: 100%;
  color: white;
}

button {
  background-color: #424549;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5vb;
}

button:hover { background-color: #7289da; }

.column {
  float: left;
  width: 50%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}